* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  background-color: #329bd5;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
  font-size: larger;
}

nav {
  height: 6rem;
  background: rgb(249, 247, 247);
  /* color: white; */
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.main-logo img {
  display: flex;
  align-items: center;
  height: 5rem;
  /* width: 3rem; */
}
.main-logo img:hover {
  height: 5.5rem;
}
ul {
  display: none;
  gap: 7rem;
}
li {
  list-style-type: none;
  cursor: pointer;
}
nav ul:hover {
  /* text-decoration: underline; */
  text-decoration: wavy;
  /* color: blue; */
  text-decoration-color: rgb(50, 169, 220);
}
.main img {
  width: 100%;
  border-top: 5px solid #329bd5;
  display: flex;
  justify-content: center;
}
.article-heading {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: #329bd5;
}
.about {
  margin-top: 1rem;
  padding: 1.7rem;
  text-align: justify;
  gap: 2rem;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #329bd5;
}
.about-img img {
  height: 350px;
  /* width: 25%; */
}
.goals {
  /* display: flex; */
  background-color: #329bd5;
  padding: 3rem;

}
.goal1 img {
  width: 100%;
  /* height: 90%; */
}
.goal-rotation {
  width: 100%;
}
.blogs {
  /* display: flex; */
  /* width: 100%; */
  /* margin-top: 2rem; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  text-align: justify;
  /* flex-wrap: wrap; */
  /* gap: 3.5rem; */
  padding: 1rem;
  margin: 0 4rem;
}
.blogs .item{
  min-width: 400px;
  max-width: 450px;
}
.blog-heading {
  padding-top: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: #329bd5;
  /* border:2px solid #329BD5; */
}
.item {
  /* height: 600px;
    width: 600px; */
  border: 2px solid #329bd5;
  /* padding:0 1rem; */
  border-radius: 10px;
  background-color: #329bd5;
}
.item img {
  /* height: 300px; */
  width: 100%;
}
.blog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #329bd5;
  background-color: white;
  width: 90%;
  font-size: 1.5rem;
  padding: 2px;
  margin: 1rem;
  border-radius: 10px;
}

.btn-div {
  display: flex;
  justify-content: center;
}
.bolg-dbtn {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  margin: 1rem;
  border-radius: 5px;
  background-color: #329bd5;
}
/* explore section css */
.explore {
  /* display: flex; */
  margin: 2rem;
  font-size: 2rem;
  color: white;
  background-color: bisque;
}
.explore button {
  font-size: 1.3rem;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: #329bd5;
  border-radius: 8px;
}
.explore input {
  font-size: 1.2rem;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}
.exp-img img {
  width: 500px;
  padding: 1rem;
  background-color: #329bd5;
}
.explore2 {
  /* display: flex; */
  padding: 0 6rem;
  
}
.faqs {
  /* display: flex;
  justify-content: space-around; */
  font-size: 1.4rem;
  color: white;
  background-color: #329bd5;
  padding: 1rem;
}

.questions div {
  display: block;
  border: 2px solid blanchedalmond;
  background-color: #475569;
  padding: 5px;
  margin: 1rem;
}
.footer-info {
  /* display: flex; */
  justify-content: space-evenly;

  align-items: center;
  padding: 1rem;
  text-align: center;
  background-color: #329bd5;
  font-size: 1.4rem;
}
.item1 {
  text-align: justify;
}

.open {
  display: flex;
}
 /* resposibe code */
 @media screen and (min-width: 425px) {
  .footer-info img{
  width: 20rem;
  }
  .about-img img{
    width: 100%;
  }
  .exp-img img{
    width: 100%;
  }
 }
@media screen and (min-width: 800px) {
  ul {
    display: flex;
  }
  .open {
    display: none;
  }
  .about {
    display: flex;
    justify-content: center;
  }
  .about img {
    width: 300px;
  }
  .goals {
    display: flex;
    background-color: #329bd5;
    padding: 3rem;
    
  }
  .goal1 img {
    width: 100%;
    /* height: 90%; */
  }
  .blogs {
    display: flex;
    /* width: 100%; */
    margin-top: 2rem;
    justify-content: space-evenly;
    justify-content: center;
    text-align: justify;
    gap: 3.5rem;
    padding: 1rem;
    margin: 0 4rem;}
    .faqs {
      display: flex;
     justify-content: space-around; }
     .faqs article {
      width: 50%;
    }
    .explore {
      display: flex;
      margin: 2rem;}

    .explore2 {
      display: flex;
      align-items: center;
      gap: 13rem;
}
}

 @media screen and (min-width: 1000px) {
  .footer-info {
    display: flex;
  }
  .footer-info img {
    width: 100%;
  }
}
 
@media screen and (min-width: 1200px) {
  
  .footer-info {
    display: flex;
  }
  .footer-info img {
    width: 100%;
  }
} */
