*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    background-color: #329BD5;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    font-size: larger;
}

nav{
    height: 6rem;
    background: rgb(249, 247, 247);
    /* color: white; */
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.main-logo img{
    display: flex;
    align-items: center;
    height: 5rem;
    /* width: 3rem; */
}
.main-logo img:hover{
    height:5.5rem;
}
ul{
    display: flex;
 gap: 7rem;   

}
li{
    list-style-type: none;

}
nav ul:hover{
text-decoration: underline;
/* color: blue; */
text-decoration-color: rgb(50, 169, 220);

}
.main img{ 
width: 100%;   
border-top:5px solid #329BD5;
display: flex;
justify-content: center;
}
.article-heading{
    text-align: center;
    margin: 1rem;
    font-size: 3rem;
    font-weight: bolder;
    color: #329BD5;
}
.about{
    margin-top: 1rem;
    padding: 1.7rem;
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 2rem;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #329BD5;

}
.about-img img{
    height: 350px;
    /* width: 25%; */
}
.open{
    display: none;
}
@media screen and (max-width: 800px ){
    ul{
        display: none;
      
    }  .open{
            display: flex;
        }
}
    
