*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:large;
    text-align: center;
}
.main-nav{
    background-color: azure;
    padding: 15px;
}
.main-nav ul{
    display: flex;
    justify-content:end ;

    display: flex;
    list-style-type: none;
    justify-content: space-around;
    text-align:right;
    justify-content: end;
    
}
.main-nav li{
    padding: 0 20px;
}
.main-nav li:hover{
    cursor: pointer;
color: blue;
font-size: larger;
}
/* main section css */
main{
    display: flex;
}
.about-section{
    margin-top: 30px;
    height: 60%;
    width: 70%;
    padding: 10px;
}
.about-section pre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
}
.profile-img{
    /* height: 40%;
    width: 30%; */
    align-content: end;
}
.h1{
    font-size: larger;
    font-weight: bolder;
}
.Skills{
    text-align: center;
}
a{
    /* display: none; */
text-decoration: none;
}
footer{
    background-color:blanchedalmond ;
    padding: 10px;
    margin-top: 15px;
    
}